!!! 5
html
  head
    title libre user demo app
  body
    h1 user demo app
    a(href="/auth/google") Sign In with Google &nbsp; 
    a(href="/logout") logout
    a(href="/logout") logout
    a(href="/logout") logout
    if user
      h1 hello! #{user.displayName}
      h1 hola #{user.id}
