form(method="post", action="/signup")
    input(type="text", name="username")
    input(type="text", name="email")
    input(type="password", name="password1")
    input(type="password", name="password2")
    input(type="submit", name="send") 

